<div style="color:blue(0, 0, 0); background-color:blueviolet(100, 80, 150); width: 300px; height: 350px;">
    <br>
    <h2 style="margin-left: 50px; margin-top: 10px;">Account created</h2>
    <div style="margin-left: 30px;">
        <img src="https://assets.stickpng.com/thumbs/585e4be1cb11b227491c3398.png" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num1" style="background-color:blueviolet(170, 90, 260); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 35px;">
        <img src="https://img2.freepng.es/20180526/eio/kisspng-email-computer-icons-gmail-5b093a2abbd322.5464747815273313707693.jpg" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num2" style="background-color: blue(170, 90, 260); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 30px;">
        <img src="http://cdn.onlinewebfonts.com/svg/img_321783.png" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num3" style="background-color: blue(170, 90, 260); width: 200px;">
    </div>
</div>