@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ff99ef, #ff99ef 15px, #ffffff 15px, #ffffff );
    background-size: 30px 100%;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100vh;
}

.form{
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
