<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Carrito</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four colums">
                    <img src="" alt="" id="logo">
                </div>
                <div class="two colums u-pull-right">
                    <ul>
                        <li class="submenu">
                            <img src="" alt="" id="imagencarrito">
                            <div id="Carrito">
                                <table></table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>
</html>>