<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Carrito</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four colums">
                    <img src="" alt="" id="logo">
                </div>
                <div class="two colums u-pull-right">
                    <ul>
                        <li class="submenu">
                            <img src="" alt="" id="imagencarrito">
                            <div id="Carrito">
                                <table id="lista-carrito" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="four columns">
                        <ul class="navct">
                            <li class="four columns"><a href="#">Inicio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>>